/*basic styling for aboutme, portfolio, and contact pages*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer {
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 100vw;
    position: relative;
    clear: both;
    border-top: 5px solid gray;
}

main {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("..//images/flowers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.noMargin {
    margin-bottom: 0;
}

#header {
    z-index: 2;
    min-height: 90px;
}

.headerName {
    float: left;
    margin-bottom: 0;
    padding-left: 20px !important;
    padding-top: 15px !important;
    z-index: 3;
    height: 100px;
    min-width: 350px;
    overflow: hidden;
    position: absolute;
    display: flex;
    text-align: center;
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

/*h1 a*/
.nameText {
    text-align: center;
    min-height: 250px;
    color: rgb(37, 32, 32);
    text-align: center;
    font-size: 3em;
    font-family: 'Prata', serif;
}

#navbar {
    position: relative;
    height: 90px;
    margin: 0;
    padding: 0;
    float: right;
    width: 100vw;
}

nav {
    width: 100vw;
    height: 100px;
    float: right;
    border-bottom: 5px solid pink;
}

.nav-wrapper {
    justify-content: center;
    align-items: center;
    float: right;
}

nav ul {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    float: right;
}

nav ul li {
    margin-right: 20px;
}

nav ul li i {
    display: inline !important;
    color: black;
}

nav ul li a {
    color: black;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    display: inline-block !important;
    padding: 0;
}

nav ul li a:hover {
    color: rgb(13, 152, 170);
}

@media screen and (max-width: 768px) {
    .headerName {
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        margin-bottom: 20px;
        display: block;
        background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    }

    nav ul li a {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 660px) {
    #header {
        height: 120px;
    }

    .headerName {
        height: 70px;
        position: relative;
        margin-bottom: 0;
        padding-top: 15px;
        padding-left: 0 !important;
        width: 100% !important;
    }

    .nameText {
        font-size: 2.5em;
    }

    #navbar {
        height: 50px;
    }

    nav {
        height: 50px;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .nav-wrapper {
        float: left;
        width: 100%;
        justify-content: center !important;
        align-content: center !important;
        display: inline-flex;
    }

    nav ul {
        margin: 0 auto !important;
        float: left;
        display: block;
    }

    nav ul li {
        display: inline-block;
        float: none;
    }
}