#portfolio {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
    float: left;
    background-color: white;
    border: 3px solid rgb(226, 226, 226);
    position: relative;
    min-width: 340px;
}

#portfolio h1 {
    padding: 10px;
    border-bottom: 3px solid rgb(226, 226, 226);
    width: 100%;
    color: rgb(102, 102, 102);
}

i {
    margin-right: 10px;
}

img {
    float: left;
    max-width: 300px;
    margin-right: 20px;
}

h4 {
    position: relative;
    font-family: 'Bree Serif', serif;
}

p {
    position: relative;
}

.item {
    margin-bottom: 50px !important;
    padding-bottom: 50px !important;
    border-bottom: 2px solid rgb(226, 226, 226);
}

.item a:hover {
    color: rgb(5, 30, 170);
}

.modal-trigger:hover {
    color: white !important;
    background-color: rgb(105, 197, 197) !important;
}

.modal img {
    min-width: 400px;
    max-width: 800px;
}

#readmeVideo {
    font-size: 20px;
}

#employeeVideo {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    #portfolio {
        min-width: 350px;
    }

    img {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 660px) {
    #portfolio {
        margin-top: 50px !important;
        min-width: 200px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
    }
}